{
	"env": {
		"development": {
			"presets": [
				[
					"@babel/env",
					{
						"targets": {
							"node": "current"
						}
					}
				]
			]
		},
		"production": {
			"presets": [
				[
					"@babel/env",
					{
						"modules": false
					}
				]
			]
		}
	},
	"presets": [
		"@babel/flow",
		"@babel/react"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-syntax-import-meta",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-json-strings",
		"@babel/transform-runtime",
		"react-hot-loader/babel"
	]
}
